.cards-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.main-title {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.main-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.score {
    font-size: 1.3rem;
    font-weight: 600;
}